In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Bengaluru_House_Data.csv')
df.drop(columns=['society'],inplace=True)

In [ ]:
df.isnull().sum()

area_type         0
availability      0
location          1
size             16
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   balcony       12711 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

In [5]:
#to change the object to specific datatypes
cols = ['area_type','availability','location','size','total_sqft']
df[cols] = df[cols].astype('category')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  category
 1   availability  13320 non-null  category
 2   location      13319 non-null  category
 3   size          13304 non-null  category
 4   total_sqft    13320 non-null  category
 5   bath          13247 non-null  float64
 6   balcony       12711 non-null  float64
 7   price         13320 non-null  float64
dtypes: category(5), float64(3)
memory usage: 531.1 KB

In [ ]:
#to drop the rows which dont have location,size,total_sqft data as they are important for our analysis

df.dropna(subset=['location','size','total_sqft'],inplace=True)
df.isnull().sum()

area_type         0
availability      0
location          0
size              0
total_sqft        0
bath             57
balcony         593
price             0
dtype: int64

In [ ]:
# FIll the missing values in bath and balcony columns with median and 0 respectively.

df['bath'].fillna(df['bath'].median(),inplace=True)
df['balcony'].fillna(0,inplace=True)
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [ ]:
# to separate the integer value from bhk i.e 2 BHK,4BHK
#then drop the column size 


df['bhk'] = df['size'].apply(lambda x: int(x.split(' ')[0]))
df.drop(columns=['size'],inplace=True)
df.head()

,area_type,availability,location,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,2600,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,1440,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,1521,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,1200,2.0,1.0,51.00,2

In [ ]:
# handle those values which have price as range  

def convert_sqft_to_num(x):
    try:
        if '-' in x:
            size=x.split('-')
            return (float(size[0])+float(size[1]))/2 
        return float(x) 
    except:
        return None
df['total_sqft']=df['total_sqft'].apply(convert_sqft_to_num)
df.dropna(subset=['total_sqft'],inplace=True)

In [168]:
df.head()

,area_type,availability,location,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,1056.0,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,1200.0,2.0,1.0,51.00,2

In [ ]:
# feature engineering where we calculate price per sqft from variables price and total_sqft

df['price_per_sqft']=(df['price']*100000)/df['total_sqft']
df.head()

,area_type,availability,location,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000

In [ ]:
#remove any extra space values from location column

df['location']=df['location'].str.strip()
df

,area_type,availability,location,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,3453.0,4.0,0.0,231.00,5,6689.834926
13316,Super built-up Area,Ready To Move,Richards Town,3600.0,5.0,0.0,400.00,4,11111.111111
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,1141.0,2.0,1.0,60.00,2,5258.545136
13318,Super built-up Area,18-Jun,Padmanabhanagar,4689.0,4.0,1.0,488.00,4,10407.336319
13319,Super built-up Area,Ready To Move,Doddathoguru,550.0,1.0,1.0,17.00,1,3090.909091

In [171]:
df.isnull().sum()

area_type         0
availability      0
location          0
total_sqft        0
bath              0
balcony           0
price             0
bhk               0
price_per_sqft    0
dtype: int64

In [ ]:
# coding the availability column as ready or not ready to move

df['availability']=df['availability'].apply(lambda x:'Ready' if x=='Ready To Move' else 'Not Ready')
df.head()

,area_type,availability,location,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,Not Ready,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Ready,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Ready,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Ready,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000

In [ ]:
# getting another value of sqft/bhk

df['sqft/bhk']=df['total_sqft']/df['bhk']
df.shape

(13257, 10)

In [ ]:
#performing the IQR method for outlier

q1=(df['total_sqft']/df['bhk']).quantile(0.25)
q3=(df['total_sqft']/df['bhk']).quantile(0.75) 
IQR=q3-q1 
lower_bound=q1-1.5*IQR 
outer_bound=q3+1.5*IQR 
df=df[(df['total_sqft']/df['bhk']>=lower_bound) & (df['total_sqft']/df['bhk']<=outer_bound)]
df.max()

area_type         Super built-up  Area
availability                     Ready
location                    whitefiled
total_sqft                     10000.0
bath                              27.0
balcony                            3.0
price                           3600.0
bhk                                 27
price_per_sqft           176470.588235
sqft/bhk                         852.5
dtype: object

In [175]:
q1=(df['price_per_sqft']).quantile(0.25)
q3=(df['price_per_sqft']).quantile(0.75) 
IQR=q3-q1 
lower_bound=q1-1.5*IQR 
outer_bound=q3+1.5*IQR 
df=df[(df['price_per_sqft']>=lower_bound) & (df['price_per_sqft']<=outer_bound)]
df.max()

area_type         Super built-up  Area
availability                     Ready
location                    whitefiled
total_sqft                     10000.0
bath                              27.0
balcony                            3.0
price                            550.0
bhk                                 27
price_per_sqft            10526.315789
sqft/bhk                         852.5
dtype: object

In [176]:
df.shape

(10960, 10)

In [177]:
df.to_csv("bengaluru_housing_cleaned.csv", index=False)